 #divmap {
 	width: 70%;
 	height: 100%;
 	border: 1px #E8E8E8;

 }

 #popup-info {

 	z-index: 1000;
 	background-color: white;
 	border: 1px solid black;
 	padding: 10px;
 	height: 500px;
 	overflow: auto;
 	position: relative;
 }


 #options {
 	z-index: 1500;
 	margin-left: -15px;
 	margin-right: -15px;
 	border: #E8E8E8;
 }

 #carteinfo {
 	display: flex;
 }

 #croix {
 	position: absolute;
 	top: 0px;
 	right: 0px;
 }


 html,
 body {
 	padding: 0;
 	margin: 0;
 }

 html,
 body,
 #mapid {
 	height: 100%;
 	width: 100%;
 }

 /*Legend specific*/
 .legend {
 	padding: 6px 8px;
 	font: 14px Arial, Helvetica, sans-serif;
 	background: white;
 	background: rgba(255, 255, 255, 0.8);
 	line-height: 24px;
 	color: #555;
 }

 .legend h4 {
 	text-align: center;
 	font-size: 16px;
 	margin: 2px 12px 8px;
 	color: #777;
 }

 .legend span {
 	position: relative;
 	bottom: 3px;
 }

 .legend i {
 	width: 18px;
 	height: 18px;
 	float: left;
 	margin: 0 8px 0 0;
 	opacity: 0.7;
 }

 .legend i.icon {
 	background-size: 18px;
 	background-color: rgba(255, 255, 255, 1);
 }

 #accueil {

    text-align: center;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    margin-top: 30px;
    background-color: #f2f2f2;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #ccc;
    font-size: 16px;
    line-height: 1.5;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to bottom, #ffffff, #f2f2f2);
    background-color: #f9f9f9;
}

a {
    background-color: #e6f2ff;
    padding: 2px;
    border-radius: 3px;
    color: #0066cc;
  }

 #intro {
 	background-color: #f2f2f2;
 	padding: 20px;
 	border: 1px solid #ccc;
 	border-radius: 5px;
 	box-shadow: 2px 2px 2px #ccc;
 	font-size: 16px;
 	line-height: 1.5;

 }

 #divbouton {
 	color: black;
 	width: 1143px;
 	background-color: #9c9a9a;
 	padding: 0px;
 	border: 1px solid #cccccc;
 	border-radius: 5px;
 	box-shadow: 2px 2px 2px #ccc;
 	font-size: 16px;
 	line-height: 1.5;
 }


 #diag {
 	/* background-color: #f2f2f2;
 	padding: 0px;
 	border: 1px solid #ccc;
 	border-radius: 5px;
 	box-shadow: 2px 2px 2px #ccc; */
 	font-size: 16px;
 	line-height: 1.5;
 }